<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <link href="@Url.Content("~/Assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/styles.css")" rel="stylesheet" type="text/css" />
</head>
    <body>
        <div class="container-fluid">
            <div class="container margin-top-40 margin-bottom-40">
                @RenderBody()        
            </div>
        </div>
        <div class="container-fluid" id="footer">
            <div class="container margin-top-40">
            </div>
        </div>
    </body>
</html>
