<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <link href="@Url.Content("~/Assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/styles.css")" rel="stylesheet" type="text/css" />
</head>
    <body>

        <div class="container-fluid" id="menu-container">
            <div class="container margin-top-20 margin-bottom-20">
                <div class="row-fluid">
                    <div class="span12">
                        @Html.Partial("_Menu")
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container-fluid" id="header-container">
            <div class="container margin-top-60 margin-bottom-60">
                <div class="row-fluid">
                    <div class="span12">
                        <span class="blog-title">
                            @Html.ActionLink(@Html.Title(), "Index", "Root")    
                        </span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <span class="blog-description">
                            @Html.Description()
                        </span>
                    </div>
                </div>
            </div>
        </div>

       

        <div class="container-fluid" id="content-body">
            <div class="container margin-bottom-40 margin-top-40">
                @RenderBody()        
            </div>
        </div>
        <div class="container-fluid" id="footer">
            <div class="container margin-top-40">
                <span class="footer-tag">
                    powered by: Bleu © Michael Dela Cuesta 2012
                </span>
            </div>
        </div>
    </body>
</html>
