@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    @Html.Title() - @Html.Description()
}

@foreach (var blog in @BleuHelper.PagedBlogs((int)ViewData["page"], Bleu.Mvc.Settings.BlogsPageSize, false))
{
    
    <div class="row-fluid">  
        <div class="span10">
            <span class="date-heading">
                @blog.Date.ToLongDateString()    
            </span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span10">
            <span class="heading">
                @Html.ActionLink(@blog.Title, "Show", "Article", 
                    new { year = @blog.Date.Year,
                        month = @blog.Date.Month,
                        day = @blog.Date.Day,
                        title = @blog.UniqueTitle }, null)
            </span>
        </div>   
    </div>

    <div class="row-fluid margin-top-40 margin-bottom-80">
        <div class="span10">
            <p class="justify">
                @blog.PreviewContent  
                
                @if(@blog.PreviewTruncated)
                {
                    <span class="read-more">
                        @Html.ActionLink("...read more...", "Show", "Article", 
                            new { year = @blog.Date.Year,
                                month = @blog.Date.Month,
                                day = @blog.Date.Day,
                                title = @blog.UniqueTitle }, null)  
                    </span>
                }
            </p>
        </div>    
    </div>
    
    <div class="row-fluid margin-top-40">
        <div class="span10"> 
            <div id="disqus_thread"></div>
            @Html.DisqusComment()
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span10">      
        <div class="pull-left">
            @if ((bool)@ViewData["shownewerposts"])
            { 
                @Html.ActionLink("<< Newer Posts", "Index", "Root", new { page = ((int)ViewData["page"]) - 1 }, new { @class = "btn btn-bleu btn-large" })
            }
        </div> 
        <div class="pull-right">
            @if ((bool)@ViewData["showolderposts"])
            {             
                @Html.ActionLink("Older Posts >>", "Index", "Root", new { page = ((int)ViewData["page"]) + 1 }, new { @class = "btn btn-bleu btn-large" })
            }
        </div> 
    </div>
</div>